{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
{% block upper_container %}
    Admin
{% endblock %}

{% block middle_container %}{% endblock %}


{% block lower_container %}
    <div class="left-container">
        {{ table }}
    </div>
    <div class="right-container">
        <h3>Add CID to Collections</h3>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.api_email.label }}<br>
            {{ form.api_email() }}
            {% for error in form.api_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.api_token.label }}<br>
            {{ form.api_token() }}
            {% for error in form.api_token.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.c_name.label }}<br>
            {{ form.c_name() }}
            {% for error in form.c_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.golden() }} {{ form.golden.label }}</p>
        <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}