<!DOCTYPE html>
<html lang="en">
<head>
    <!-- change browser title using conditionals, if 'title' is passed in the calling method. else. -->
    {% if title %}
    <title>KKonsole {{title}}</title>
    {% else %}
    <title>KKonsole</title>
    {% endif %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="KKonsole for Kentik SEs/CSEs and customers">
    <meta name="author" content="Akshay Dhawale (akshay@kentik.com)">
    <!-- bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1><a href="{{ url_for('index') }}">KKonsole</a></h1>
        </div>
    </header>
    
    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('home2') }}">Route No. 1</a></li>
                <li><a href="{{ url_for('activity') }}">Activity</a></li>
                <li><a href="{{ url_for('essentials') }}">Essentials</a></li>
                <li><a href="{{ url_for('lastResponse') }}">Last Response</a></li>
                <li><a href="{{ url_for('admin') }}">Admin</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <div id="page-container">
        <div id="content-wrap">
            <div id="upper-container">
                <div class="container">
                    {% block upper_container %}{% endblock %}
                    <br>
                </div>
            </div>

            <br>
            <div id="middle-container">
                <div class="container">
                    {% block middle_container %}{% endblock %}
                    <div id="flashed-messages">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>

            <br>
            <div class="container">
                <div id="lower-container">
                    {% block lower_container %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    <footer id="main-footer">
        <p>Copyright &COPY; 2020 KKonsole. Maintained by akshay@kentik.com</p>
    </footer>
    <script src="/static/main.js"></script>
</body>
</html>
