body{
	background-color:#f4f4f4;
	color:#555;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:88%;
	margin:auto;
	overflow:hidden;
}

.right-container{
	float: right;
	width:30%;
	padding:0 10px;
	box-sizing: border-box;
	background-color: rgb(206, 202, 202);
}
.left-container{
	float: left;
	width:70%;
	padding:0 10px;
	box-sizing: border-box;
}

#main-header {
	background-color:coral;
	color:#fff;
}
#main-header a {
	background-color:coral;
	color:#fff;
	text-decoration: none;
}

#flashed-messages {
	font-family: monospace;
}

#flashed-messages ul{
	list-style: none;
	padding: 0;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:18px;
}

#showcase{
	background-image:url('../images/showcase.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#page-container {
	position: relative;
	min-height: 100vh;
}
  
#content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
}
#main-footer{
	background: #333;
	color:#fff;
	position: absolute;
	text-align: center;
	padding:5px;
	margin-top:5px;
	bottom: 0;
	width: 100%;
	height: 3.5rem;			/* footer height */
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}


table.cinereousTable {
	border: 6px solid #948473;
	background-color: #FFE3C6;
	width: 100%;
	text-align: center;
  }
  table.cinereousTable td, table.cinereousTable th {
	border: 1px solid #948473;
	padding: 4px 4px;
  }
  table.cinereousTable tbody td {
	font-size: 13px;
  }
  table.cinereousTable thead {
	background: #948473;
	background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  table.cinereousTable thead th {
	font-size: 17px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: left;
	border-left: 2px solid #948473;
  }
  table.cinereousTable thead th:first-child {
	border-left: none;
  }
  
  table.cinereousTable tfoot {
	font-size: 16px;
	font-weight: bold;
	color: #F0F0F0;
	background: #948473;
	background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  table.cinereousTable tfoot td {
	font-size: 16px;
  }